#section {
    font-family: 'NanumGothic';
    max-width: 1300px;
    margin: 0 auto;
}

/* ****left_section**** */
#left_section {
    width: 20%;
    padding: 20px 0 0 20px;
    float: left;
}
.HMhollyscon {
    margin: 30px 0px 60px 0;
}
.HMhollyscon p{
    font-size: 24px;
    font-weight: bold;
}
.HMhollyscon p:hover {
    color: #ba2025;
}
.HMhollyscon .HMj_atv {
    color: #ba2025;
}
.HMmem {
    padding-bottom: 35px;
}
.HMmem a > img {
    margin-bottom: 5px;
}
.HMmem_last {
    margin-top: 35px;
}
.HMfes {
    padding: 40px 0;
    border-top: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    
}




/* ****right_section**** */

#right_section {
    width: 80%;
    float: left;
    padding: 0 30px;
}

.right_tit {
    margin: 50px 0;
}
.right_tit p {
    margin: 10px 0;
}
.rmsub {
    font-size: 12px;
}
.rmtit {
    font-size: 36px;
    font-weight: bold;
}

.news_b {
    width: 100%;
}

#select_c1 {
    font-size: 12px;
    margin-bottom: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

.news_b_c {
    border-spacing:0;
    border-top : 1px solid #303030;
    border-bottom : 1px solid #303030;
    width: 100%;
}

.news_b_c .col1 {
    width: 10%;
}

.news_b_c .col2 {
    width: 15%;
}

.news_b_c .col4 {
    width: 15%;
}

.news_b_c tr th {
    border-bottom: 1px solid #d9d9d9;
    color: #303030;
    font-size: 14px;
    font-weight: bold;
    padding:10px 0px;
    overflow:hidden;
}
.news_b_c td {
    font-size:12px;
    padding:15px 0 15px 10px ;
    overflow:hidden;
    color: #6f6f6f;
   }

.news_b_c .tg-c3ow{
    text-align:center;
    vertical-align:middle;
}
.news_b_c .tg-0pky{
    text-align:left;
    vertical-align:middle;
    padding-left: 20px;
}
.sel_box {
    vertical-align: middle;
    text-align: center;
    margin: 30px 0 0 0;
    
}
.paging {
    margin-bottom: 20px;
    font-size: 12px;
}
.paging a {
    margin: 0 10px;
    padding: 5px 8px;
    
}
.paging a.active_p {
    background: rgba(185, 32, 37, 0.5);
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
}
#select_c2{
    height: 25px;
    vertical-align: middle;
    border: 1px solid #6e6e6e;
    color: #6e6e6e;

}
.searchIn {
    height: 25px;
    vertical-align: middle;
    border: 1px solid #6e6e6e;
    color: #6e6e6e;

}
.searchIn_btn {
    vertical-align: middle;
    height: 25px;
    width: 25px;
    border: 1px solid #aeaeae;
    display: inline-block;
    border: 1px solid #6e6e6e;
}




@media screen and (max-width:1024px) {
    /*    화면이 줄었을 때 가로 스크롤바 사라지게 함*/
    
    html {
        overflow-x: hidden;
    }
    #section {
		max-width:1024px;
	}
    #left_section {
        display: none;
    }
    
    #right_section {
        width: 100%;
    }
    .news_b_c {
        width: 100%;
    }
    
}





@media screen and (max-width:640px) {
   
	#left_section {
        display: none;
    }
    
    #right_section {
        width: 100% !important;
    }
    
    .news_b, .news_b_c {
        width: 100% !important;
    }
    
    #select_c1 {
        float: right;
        margin-bottom: 25px;
        vertical-align: middle;
        width: 20%;
    }
    
    .news_b_c .col1 {
        width: 10%;
    }

    .news_b_c .col2 {
        width: 0%;
    }
       
    .news_b_c .col3 {
        width: 70%;
    }

    .news_b_c .col4 {
        width: 15%;
    }
    .news_b_c tr th:nth-child(3),
    .news_b_c tr td:nth-child(3) {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .news_b_c .tg-0pky{
        padding: 20px;
    }   
    
    .news_b_c td {
        font-size:12px;
        padding: 0 ;
        color: #6f6f6f;
   }
    
    .page_num {
        display: none;
    }
    #select_c2 {
        width: 25%;
    }
    th.tg-c3ow.dnnn {
        color: transparent;
    }
  
   

}
